[Unit]
Description=Go-Ethereum
Wants=network-online.target
After=network-online.target

[Service]
LimitNOFILE=4096
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=go-ethereum
PrivateDevices=yes
PrivateTmp=yes
ProtectSystem=full
ProtectHome=yes

WorkingDirectory=/var/lib/geth
TimeoutSec=1200
Restart=always
ExecStart=/usr/bin/geth

[Install]
WantedBy=multi-user.target
